h1{
    text-align: center;
    color: red;
}

nav{
    background-color:greenyellow ;
}

.portada{ 
   border: rgb(255, 10, 255);
    color: rgb(204, 4, 204);
    margin: solid;
    margin: 15px;
    border: 14px;
    max-width: 350px;
    background-color: rgb(250, 45, 9);
    text-align: center;
    border-style: solid;



}

BODY{
    background-color: rgb(202, 252, 252);
}

footer{
    background-color: rgb(0, 0, 0);
}

h6{
    color: wheat;
    text-justify: auto;
  max-width: 150px;
  border-style: solid;
  border-radius: 10px;
}

h3{
    line-height: 50px;
    color: blue;
    text-align: center;
    text-decoration: solid;
}


.centro{
    background-color: cornflowerblue;
    border-style: solid;
    text-align: center;
    border: 1100px;
    
}

h2{
    text-align: center;
    color: rgb(214, 17, 188)(247, 0, 255);
} 

.hola{
    text-align: start;
    color: white;
}